# Django/Core
DEBUG=True
DJANGO_SECRET_KEY=change-me-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,testserver

# Database
# Use sqlite locally OR postgres in dev/prod
DB_ENGINE=django.db.backends.postgresql
DB_NAME=gestaocontrato
DB_USER=postgres
DB_PASSWORD=changeme
DB_HOST=127.0.0.1
DB_PORT=5432

# CORS / CSRF
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@gestaocontrato.local
